.about 
    .container 
        .bar 
            .bigtitle__about 
                h1 Simple Pricing for Your Team
                h2 Slate helps you see how many more days you need 
            .row 
                .col-sm-12.col-md-12.col-lg-4
                    .box 
                        .bigtitle Education
                        p Brief price Description
                        img(src="assets/img/img1.png", alt="")
                        .num 0 $
                        .num2 Per/month
                        ul 
                            li: a(href="#") Only 2 Operators 
                            li: a(href="#") Abandoned Cart
                            li: a(href="#") Facebook & Instagram Ads
                            li: a(href="#") Order Notifications 
                            li: a(href="#") Landing Pages
                        button Order Now 
                .col-sm-12.col-md-12.col-lg-4
                    .box 
                        .bigtitle Professional
                        p Brief price Description
                        img(src="assets/img/img2.png", alt="")
                        .num 10 $
                        .num2 Per/month
                        ul 
                            li: a(href="#") Only 2 Operators 
                            li: a(href="#") Abandoned Cart
                            li: a(href="#") Facebook & Instagram Ads
                            li: a(href="#") Order Notifications 
                            li: a(href="#") Landing Pages
                        button Order Now 
                .col-sm-12.col-md-12.col-lg-4
                    .box 
                        .bigtitle Business
                        p Brief price Description
                        img(src="assets/img/img3.png", alt="")
                        .num 99 $
                        .num2 Per/month
                        ul 
                            li: a(href="#") Only 2 Operators 
                            li: a(href="#") Abandoned Cart
                            li: a(href="#") Facebook & Instagram Ads
                            li: a(href="#") Order Notifications 
                            li: a(href="#") Landing Pages
                        button Order Now 