.advice 
    .container 
        .center 
            .row 
                .col-md-12.col-lg-6 
                    .box 
                        .title Quick & Easy Process
                        p Most calendars are designed for teams. Slate is designed<br> for freelancers who want a simple way to plan  <br>their schedule.
                        .btn 
                            button sign up for free
                            button find out more
                .col-md-12.col-lg-6 
                    img(src="assets/img/advice.png", alt="")
                    .btn2 
                        button sign up for free
                        button find out more