.body 
    .container 
        .menu
            .row 
                .col-md-12.col-lg-6 
                    .img 
                        img(src="assets/img/body.png", alt="")
                .col-md-12.col-lg-6
                    .box 
                        .title Perfect for Operations<br>HR and Finance
                        p Most calendars are designed for teams. Slate is designed <br>for freelancers who want a simple way to plan<br> their schedule.
                        .btn 
                            button Button 
                    .img2
                        img(src="assets/img/body.png", alt="")
                    .btn2 
                        button Button 