.footer
    .container 
        .menu 
            .row 
                .col-12.col-ms-6.col-lg-4 
                    .left 
                        .mini__left 
                            p Price Item One
                            p Price Item Two
                            p Price Item Three
                        .mini__right 
                            p Price Item One
                            p Price Item Two
                            p Price Item Three
                    h4 Just type what's on your mind 
                .col-12.col-ms-6.col-lg-4 
                    .map 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d47936.24646314877!2d69.30432!3d41.3302784!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1615376482593!5m2!1sru!2s" width="344" height="247" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                .col-12.col-ms-6.col-lg-4 
                    .right
                        <svg width="32" height="39" viewBox="0 0 32 39" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8884 38.3167C15.2128 38.5483 15.6014 38.6729 16.0001 38.6729C16.3987 38.6729 16.7873 38.5483 17.1117 38.3167C17.6944 37.9046 31.389 28.0165 31.3334 15.6732C31.3334 7.21876 24.4545 0.339844 16.0001 0.339844C7.54565 0.339844 0.666734 7.21876 0.666734 15.6636C0.61115 28.0165 14.3057 37.9046 14.8884 38.3167ZM16.0001 4.17318C22.3423 4.17318 27.5001 9.33093 27.5001 15.6828C27.5403 24.1889 19.0897 31.8268 16.0001 34.3319C12.9123 31.8249 4.45982 24.1851 4.50007 15.6732C4.50007 9.33093 9.65782 4.17318 16.0001 4.17318Z" fill="white"/></svg>
                        a(href="#")  7480 Mockingbird Hill undefined <br>
                        <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.3334 1.46484H11.6667C9.24585 1.46484 7.29169 3.41901 7.29169 5.83984V29.1732C7.29169 31.594 9.24585 33.5482 11.6667 33.5482H23.3334C25.7542 33.5482 27.7084 31.594 27.7084 29.1732V5.83984C27.7084 3.41901 25.7542 1.46484 23.3334 1.46484ZM20.4167 30.6315H14.5834V29.1732H20.4167V30.6315ZM25.1563 26.2565H9.84377V5.83984H25.1563V26.2565Z" fill="white"/></svg> 
                        a(href="#")  (239) 555-0108
                        .bottom 
                            a(href="#") 
                                <svg width="35" height="29" viewBox="0 0 35 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.145 4.18529C32.9202 4.71364 31.5873 5.09388 30.2144 5.24198C31.6398 4.39517 32.7072 3.05736 33.2164 1.47954C31.8788 2.27521 30.4136 2.83315 28.8855 3.12861C28.2469 2.44587 27.4745 1.90197 26.6165 1.5308C25.7585 1.15963 24.8332 0.969143 23.8983 0.971208C20.1159 0.971208 17.0739 4.0372 17.0739 7.79964C17.0739 8.32798 17.1379 8.85632 17.242 9.36465C11.5783 9.06846 6.52705 6.36271 3.16887 2.22002C2.55697 3.26516 2.23632 4.45517 2.24026 5.66625C2.24026 8.03579 3.44505 10.1251 5.28224 11.3539C4.19955 11.3113 3.14222 11.0137 2.19624 10.4854V10.5694C2.19624 13.8876 4.54176 16.6374 7.66779 17.2698C7.08084 17.4222 6.47704 17.5002 5.87062 17.5019C5.42633 17.5019 5.00606 17.4579 4.58178 17.3979C5.44634 20.1036 7.96398 22.0689 10.9619 22.1329C8.6164 23.9701 5.67849 25.0508 2.48843 25.0508C1.91605 25.0508 1.38771 25.0308 0.839355 24.9668C3.86532 26.908 7.45565 28.0288 11.3222 28.0288C23.8743 28.0288 30.7428 17.63 30.7428 8.60416C30.7428 8.30797 30.7428 8.01178 30.7227 7.71558C32.0516 6.74295 33.2164 5.53817 34.145 4.18529Z" fill="white"/></svg>
                            a(href="#") 
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.2103 0.489502H1.75117C1.04271 0.489502 0.470337 1.06187 0.470337 1.77033V31.2294C0.470337 31.9379 1.04271 32.5103 1.75117 32.5103H31.2103C31.9187 32.5103 32.4911 31.9379 32.4911 31.2294V1.77033C32.4911 1.06187 31.9187 0.489502 31.2103 0.489502ZM27.5119 9.83557H24.9542C22.9489 9.83557 22.5607 10.7882 22.5607 12.1891V15.2751H27.3478L26.7234 20.1062H22.5607V32.5103H17.5694V20.1102H13.3947V15.2751H17.5694V11.7128C17.5694 7.5781 20.0951 5.32464 23.7855 5.32464C25.5546 5.32464 27.0716 5.45673 27.5159 5.51676V9.83557H27.5119Z" fill="white"/></svg>
                            a(href="#") 
                                <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.1981 4.4895H6.73902C6.03056 4.4895 5.45819 5.06187 5.45819 5.77033V35.2294C5.45819 35.9379 6.03056 36.5103 6.73902 36.5103H36.1981C36.9066 36.5103 37.479 35.9379 37.479 35.2294V5.77033C37.479 5.06187 36.9066 4.4895 36.1981 4.4895ZM14.9564 31.7752H10.2053V16.4933H14.9564V31.7752ZM12.5828 14.4039C12.0382 14.4039 11.5057 14.2424 11.0529 13.9398C10.6 13.6372 10.2471 13.2072 10.0386 12.704C9.83022 12.2008 9.77568 11.6471 9.88194 11.1129C9.9882 10.5787 10.2505 10.0881 10.6356 9.70293C11.0207 9.3178 11.5114 9.05553 12.0456 8.94927C12.5798 8.84302 13.1335 8.89755 13.6366 9.10598C14.1398 9.31441 14.5699 9.66737 14.8725 10.1202C15.1751 10.5731 15.3366 11.1055 15.3366 11.6501C15.3326 13.1711 14.0998 14.4039 12.5828 14.4039ZM32.7439 31.7752H27.9968V24.3424C27.9968 22.5692 27.9648 20.2918 25.5272 20.2918C23.0576 20.2918 22.6774 22.221 22.6774 24.2143V31.7752H17.9343V16.4933H22.4892V18.5826H22.5533C23.1857 17.3819 24.7347 16.113 27.0482 16.113C31.8593 16.113 32.7439 19.2791 32.7439 23.3938V31.7752Z" fill="white"/></svg>
