.head 
    .container 
        .headMenu
            .burger
                button.top__btn__menu
                    span
            div.left2
                img(src="../assets/img/logo.png", alt="")
            .burgermenu
                .row 
                    .col-md-3 
                        div.left
                            img(src="../assets/img/logo.png", alt="")
                    .col-md-6 
                        div.center 
                            ul 
                                li: a(href="#") Home
                                li: a(href="#") Project
                                li: a(href="#") About
                                li: a(href="#") Contact
                    .col-md-3 
                        div.right 
                            button Sign up
        .top 
            h1 Find the Best Solution 
            h1 in Seconds
            h2 If debugging is the process of removing software bugs.
            .button 
                button get stardet
                button try for free
            .img 
                img(src="assets/img/screen.png", alt="") 
            .img2
                img(src="assets/img/screen2.png", alt="")   