.heel 
    .container 
        .center 
            .bigtitle SUBSCRIBE
            p Subscribe to get exclusive news & offer
            .bottom 
                input(type="text" placeholder="Enter Your Adress Email") 
                button SUBSCRIBE