.slider 
    .container 
        .top
            .bigtitle 
                h1 FigmaLand was Built Specifically
                h1 for You
                .list 
                    .row 
                        .col-12col-sm-6.col-md-12.col-lg-4 
                            .list__item
                                <svg width="62" height="63" viewBox="0 0 62 63" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2857 17.7832L6.99714 11.4615L11.16 7.25705L17.419 13.6085L13.2857 17.7832ZM33.9524 0.189941V9.13564H28.0476V0.189941H33.9524ZM55.0029 11.4615L48.7143 17.7832L44.581 13.6085L50.84 7.25705L55.0029 11.4615ZM8.85714 28.518V34.4818H0V28.518H8.85714ZM53.1429 28.518H62V34.4818H53.1429V28.518ZM13.2857 56.8461H48.7143C50.2803 56.8461 51.7822 57.4744 52.8896 58.5928C53.9969 59.7113 54.619 61.2282 54.619 62.8099H7.38095C7.38095 61.2282 8.00306 59.7113 9.11042 58.5928C10.2178 57.4744 11.7197 56.8461 13.2857 56.8461ZM31 12.1175C35.6981 12.1175 40.2038 14.0025 43.5259 17.3578C46.848 20.7131 48.7143 25.2639 48.7143 30.009V53.8642H13.2857V30.009C13.2857 25.2639 15.152 20.7131 18.4741 17.3578C21.7962 14.0025 26.3019 12.1175 31 12.1175Z" fill="#03D6F3"/></svg>

                                .title Management
                                p Slate helps you see how many<br>more days you need to work<br>to reach your financial goal <br>for the month and year.
                                .bottom Learn More
                        .col-12col-sm-6.col-md-12.col-lg-4 
                            .list__item 
                                <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30 26.9899C30.9309 26.9899 31.8238 27.3597 32.482 28.018C33.1403 28.6762 33.5101 29.5691 33.5101 30.5C33.5101 31.4309 33.1403 32.3238 32.482 32.982C31.8238 33.6403 30.9309 34.0101 30 34.0101C29.0691 34.0101 28.1762 33.6403 27.518 32.982C26.8597 32.3238 26.4899 31.4309 26.4899 30.5C26.4899 29.5691 26.8597 28.6762 27.518 28.018C28.1762 27.3597 29.0691 26.9899 30 26.9899ZM2.69132 3.19132C7.71078 -1.82814 18.5921 0.418328 30 7.89487C41.4079 0.418328 52.2892 -1.82814 57.3087 3.19132C62.3281 8.21078 60.0817 19.0921 52.6051 30.5C60.0817 41.9079 62.3281 52.7892 57.3087 57.8087C52.2892 62.8281 41.4079 60.5817 30 53.1051C18.5921 60.5817 7.71078 62.8281 2.69132 57.8087C-2.32814 52.7892 -0.0816717 41.9079 7.39487 30.5C-0.0816717 19.0921 -2.32814 8.21078 2.69132 3.19132ZM42.4258 18.0742C44.567 20.2505 46.5326 22.4618 48.3579 24.6732C53.2018 17.1967 54.9569 10.7732 52.3243 8.17568C49.7268 5.54309 43.3033 7.29815 35.8268 12.1421C38.0382 13.9674 40.2495 15.933 42.4258 18.0742ZM17.5742 42.9258C15.433 40.7495 13.4674 38.5382 11.6421 36.3268C6.79815 43.8033 5.04309 50.2268 7.67568 52.8243C10.2732 55.4569 16.6967 53.7018 24.1732 48.8579C21.9618 47.0326 19.7505 45.067 17.5742 42.9258ZM7.67568 8.17568C5.04309 10.7732 6.79815 17.1967 11.6421 24.6732C13.4674 22.4618 15.433 20.2505 17.5742 18.0742C19.7505 15.933 21.9618 13.9674 24.1732 12.1421C16.6967 7.29815 10.2732 5.54309 7.67568 8.17568ZM22.5586 37.9414C25.0156 40.3985 27.5429 42.645 30 44.6458C32.4571 42.645 34.9844 40.3985 37.4414 37.9414C39.8985 35.4844 42.145 32.9571 44.1458 30.5C42.145 28.0429 39.8985 25.5156 37.4414 23.0586C34.9844 20.6015 32.4571 18.355 30 16.3542C27.5429 18.355 25.0156 20.6015 22.5586 23.0586C20.1015 25.5156 17.855 28.0429 15.8542 30.5C17.855 32.9571 20.1015 35.4844 22.5586 37.9414ZM52.3243 52.8243C54.9569 50.2268 53.2018 43.8033 48.3579 36.3268C46.5326 38.5382 44.567 40.7495 42.4258 42.9258C40.2495 45.067 38.0382 47.0326 35.8268 48.8579C43.3033 53.7018 49.7268 55.4569 52.3243 52.8243Z" fill="#03D6F3"/></svg>

                                .title Customer Support
                                p Slate helps you see how many<br>more days you need to work<br>to reach your financial goal <br>for the month and year.
                                .bottom Learn More
                        .col-12col-sm-6.col-md-12.col-lg-4 
                            .list__item
                                <svg width="63" height="53" viewBox="0 0 63 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M51.0873 26.5001H45.4109V35.0146H36.8964V40.691H51.0873V26.5001ZM17.0291 17.9856H25.5436V12.3092H11.3527V26.5001H17.0291V17.9856ZM56.7636 0.956543H5.67636C4.1709 0.956543 2.72709 1.55459 1.66257 2.61911C0.598044 3.68363 0 5.12743 0 6.63289V46.3674C0 47.8728 0.598044 49.3166 1.66257 50.3811C2.72709 51.4457 4.1709 52.0437 5.67636 52.0437H56.7636C58.2691 52.0437 59.7129 51.4457 60.7774 50.3811C61.842 49.3166 62.44 47.8728 62.44 46.3674V6.63289C62.44 5.12743 61.842 3.68363 60.7774 2.61911C59.7129 1.55459 58.2691 0.956543 56.7636 0.956543ZM56.7636 46.3674H5.67636V6.63289H56.7636V46.3674Z" fill="#03D6F3"/></svg>
                                .title Collaborative
                                p Slate helps you see how many<br>more days you need to work<br>to reach your financial goal <br>for the month and year.
                                .bottom Learn More