doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Work 2
        link(rel="stylesheet", href="assets/css/style.css")
    body 
        include ../blocks/head.pug
        include ../blocks/slider.pug
        include ../blocks/advice.pug
        include ../blocks/body.pug
        include ../blocks/bodyBottom.pug
        include ../blocks/about.pug
        include ../blocks/heel.pug
        include ../blocks/footer.pug
        
    script(src="assets/js/app.js")